body{
  padding-top: 50px;
  height: 100%;
}

#navbar{
  /*background-color: #FF0000;*/
  background-color: #800000;
}

#text{
  background-color: #000000;
  color: white;
}

.anItem{
  width: auto;
  height: 200px;
}

footer{
  margin-top: 20px;
  color: white;
  background-color:  #800000;
}

#quantity, #quantity-label{
  margin-left: -16px;
}

img.details{
  width: auto;
  height: 200px;
  margin: 15px auto;
}

li{
  border: 2px solid white;
  margin-left: 3px;
}
